
#wrapper {
    width: 100%;
    padding: 20px;
	color:white;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.row:last-child {
    margin-bottom: 0;
}

.first-row {
    justify-content: space-between;
}

#dsa {
    width: 50%;
    background-color: #890123;
    text-align: center;
    line-height: 75px;
	color:white;
}

#mern {
    width: 30%;
    height: 75px;
    background-color: #f37f1b;
    text-align: center;
    line-height: 75px;
}

.second-row {
    justify-content: center;
}

#acciojob {
    width: 75%;
    background-color: #626ee3;
    text-align: center;
    line-height: 75px;
}

.third-row {
    justify-content: space-between;
}

#business-analytics {
    width: 40%;
    background-color: #12967e;
    align-self: flex-end;
    text-align: center;
    padding-bottom: 10px;
	 line-height: 75px;
}

#spring {
    flex-grow: 1;
    height: 75px;
    background-color: #f21a3f;
    margin-left: 10px;
    text-align: center;
    line-height: 75px;
}